<script type="application/json" class="js-hypothesis-config">
    {
    "showHighlights": true,
    "openSidebar": true
    }
    </script>
    <script async src="https://hypothes.is/embed.js"></script>
    